@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.clear{
    clear: both;
}


/*** HEADER ***/

body,html{
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


header{
    background-color: #1F2233;
    width: 100vw;
    min-height: 100vh;
    position: relative;
}


.info-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
  
}


.image-info{
    padding-top: 73px;
    
}

.image-info img{
    width: 425px;
    height: 550px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}


.descricao-info h1{
    font-size: 100px;
}

.descricao-info p{
    font-size: 21px;
    
}

.quebra{
    display: none;
}

.descricao-info strong{
    font-weight: normal;
    color: #1F2233;
    background-color: white;
    padding: 0 5px;
}

.social-contacts{
    position: absolute;
    bottom:40px;
    right: 200px;
    border-bottom: 1px solid #0099ff;
    padding: 5px 20px;
    border-radius: 25px;
}


.social-contacts a {
    text-decoration: none;
    font-size: 22px;
}

.social-contacts a .fab{
    font-size: 22px;
    transition: .5s ease-in-out;
}


.social-contacts a:nth-child(1) .fab:hover{
    
    color: #1da1f2;
    
}

.social-contacts a:nth-child(2) .fab:hover{
    
    color: #0ae779;
    
}



/*** SOBRE ***/


#sobre{
    padding-top: 30px;
    background-color: #25273E;
    max-height: 100%;
    width: 100%;

}

#sobre .container, #curiosidades .container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    
}

.titulo-sobre, 
.titulo-habilidades,
.titulo-certificacoes, 
.titulo-curiosidades,
.titulo-contatos{
    position: relative;
    text-align: center;

}

#sobre  .line-title, #habilidades .line-title,
#certificacoes .line-title, #curiosidades .line-title,
#contatos .line-title{
    position: absolute;
    text-align: center;
    width: 100px;
    height: 2px;
    background-color: rgb(0, 152, 253);
    left: 50%;
    transform: translateX(-50%);
}

#sobre  .titulo-sobre h2, 
#habilidades .titulo-habilidades h2,
#certificacoes .titulo-certificacoes h2, 
#curiosidades .titulo-curiosidades h2,
#contatos .titulo-contatos h2{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 500;
}

#sobre p{
    font-size: 18px;
    margin-top: 25px;
    text-align: justify;
    margin-bottom: 40px;
}

.conteudo-sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.sobre-image{
    width: 30%;
 
}

.sobre-image img{
    width: 250px;
    height: 350px;
    background-size: 100% 100%;
    background-position: center;
}

.texto-sobre{
    width: 70%;
    text-align: center;
    
}

#sobre a{
    display: block;
    width: 100px;
    margin: 0 auto;
    padding: 10px 10px;
    font-size: 22px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 153, 255, 0.795);
    border: 1px solid #0099ff;
    transition: all 0.25s ease-in-out;
    
}

#sobre a:hover{
    background-color: rgba(14, 212, 120,0.8);
    border: 1px solid rgb(14, 212, 120);
}

/*** HABILIDADES ***/

#habilidades{
    padding-top: 30px;
    background-color: #1F2233;
    max-height: 100%;
    width: 100%;

}


 #habilidades .container{
    max-width: 600px;
    margin: 0 auto;
    padding: 0 2%;
    
}

.habilidade-icone{
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.area{
    width: 150px;
    height: 200px;
    background-color: rgba(128, 126, 126, 0.055);
    border: 10px solid #1F2233;
    position: relative;
}

.area h3{
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.area img{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/*** CERTIFICACOES ***/

#certificacoes{
    padding-top: 30px;
    background-color: #25273E;
    width: 100vw;
}


 #certificacoes .container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2%;
    
}

.certificados-campo{
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
}


.certificado-single{
    border:10px solid #25273E;
    
}

.certificado-single h2{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 6px;
}

/*-moz-border-radius: 10px; /* Implementação Firefox */
    /*-webkit-border-radius: 10px; /* ISafari e browsers que renderizam via webkit */

.certificado-single img{
    width: 280px;
    height:150x;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    
}


/*** CURIOSIDADES ***/

#curiosidades{
    background-color: #1F2233 !important;
    padding-top: 30px;
    width: 100%;
}

.conteudo-pos{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

.texto-pos{
    width: 60%;
}

.texto-pos h3{
    font-size: 32px;
    font-weight: 300;
}

.texto-pos p{
    padding-top: 15px;
    font-size: 17px;
    font-weight: 300;
    text-align: justify;
    line-height: 25px;
}

.artigo strong{
    font-weight: 400;
}

.artigo p{
    font-size: 18px !important;
    font-weight: 400 !important;
}

.artigo > a{
    width: 100px;
    padding: 5px 10px;
    font-size: 22px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 153, 255, 0.11);
    border: 1px solid #0099ff;
    transition: all 0.25s ease-in-out;
}

.artigo a:hover{
    background-color: #0099ff;
}

.campo-diploma{
    width: 40%;
    text-align: center;
}

.campo-diploma h3{
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 6px;
}

.campo-diploma img{
    padding: 10px;
    border: 1px solid #0099ff;
    width: 215px;
    height: 280px;
    margin: 0 auto;
    background-size: 100% 100%;
    text-align: center;
}

/*** CONTATOS ***/

section#contatos{
    display: none;
    padding-top: 30px;
    width: 100%;
    background: rgb(44,53,68);
    background: linear-gradient(90deg, rgba(44,53,68,1) 2%, rgba(30,27,61,1) 61%);
}

#contatos .container{
    max-width: 500px;
    margin: 0 auto;
    padding: 0 2%;
}

.social-midias{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-midias a i{
    text-align: center;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    background-color: rgba(128, 126, 126, 0.055);
    font-size: 80px;
    line-height: 150px;
    margin: 15px;
    transition: .5s ease-in-out;
}

.social-midias a:nth-child(1) .fab:hover{
    color: #1da1f2;
}

.social-midias a:nth-child(2) .fab:hover{
    color: #0ae779;
}

#contatos p{
    text-align: center;
    display: block;
    padding: 30px 0;

}



/********FOOTER*********/

footer{
    padding: 20px 2%;
    background-color: #25273E;
    

}

footer h2{
    text-transform: uppercase;
}

.endereco{
    float: left;
    width: 50%;
}

.endereco p{
    margin: 10px 0;
}

.endereco i{
    color: #0099ff;
}

.caminho-site{
    float: left;
    width: 50%;
}

.caminho-site a{
    text-decoration: none;
    display: block;
    margin: 10px 0;
    transition: .3s ease-in-out;
}

.caminho-site a:hover{
    color: #0099ff;
}

.caminho-site a.contact{
    display: none;
}



/*****Sub-footer*****/

.sub-footer{
    height: 50px;
    background-color: #27293d;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
    filter: drop-shadow(5px 5px 10px #383b5e);
}



/**** RESPONSIVO ****/

@media screen and (max-width: 1000px){

    .info-header{
        flex-direction: column-reverse;
        
      
    }
    
    .descricao-info h1{
        padding-top: 30px;
        font-size: 80px;
        margin-bottom: 20px;
    }
    
    .descricao-info p{
        font-size: 21px;
        padding-bottom: 30px;
    }
    
    
    .descricao-info strong{
        font-weight: normal;
        color: #1F2233;
        background-color: white;
        padding: 0 5px;
    }
    
    .social-contacts{
        display: none;
    }
    
}

@media screen and (max-width: 900px){
    .sobre-image{
        display: none;
     
    }
    
    .texto-sobre{
        width: 100%;
        
    }

    .texto-pos{
        width: 100%;
    }

    .campo-diploma{
        margin-top: 25px;
        width: 100%;
    }
}


@media screen and (max-width: 550px){

    p.artigo{
        text-align: center !important;
    }
    
    .artigo > a{
        display: block;
        text-align: center;
        margin: 0 auto;
        font-size: 15px;
    }


    
    .endereco{
        width: 100%;
    }
    
 
    
    .caminho-site{
        padding-top: 30px;
        width: 100%;
    }

    .descricao-info p{
        font-size: 17px;
    }
    
    section#contatos{
        display: block;
    }

    .caminho-site a.contact{
        display: block;
    }
    

}

@media screen and (max-width: 450px){
    
    .image-info{
        margin-top: -45px;
        
    }

    .descricao-info h1{
        font-size: 70px;
        margin-bottom: 20px;
    }

    .quebra{
        display: block;
        margin-top: 25px;
    }
    
    .descricao-info p{
        font-size: 15px;
    }
    
    
}