@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.clear{
    clear: both;
}


/*** HEADER ***/

body,html{
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


header{
    background-color: #1F2233;
    width: 100vw;
    min-height: 100vh;
    position: relative;
}


.info-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
  
}


.image-info{
    padding-top: 73px;
    
}

.image-info img{
    width: 425px;
    height: 550px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}


.descricao-info h1{
    font-size: 100px;
}

.descricao-info p{
    font-size: 21px;
    
}


.descricao-info strong{
    font-weight: normal;
    color: #1F2233;
    background-color: white;
    padding: 0 5px;
}

.social-contacts{
    position: absolute;
    bottom:40px;
    right: 200px;
    border-bottom: 1px solid #0099ff;
    padding: 5px 20px;
    border-radius: 25px;
}


.social-contacts a {
    text-decoration: none;
    font-size: 22px;
}

.social-contacts a .fab{
    font-size: 22px;
    transition: .5s ease-in-out;
}


.social-contacts a:nth-child(1) .fab:hover{
    
    color: #1da1f2;
    
}

.social-contacts a:nth-child(2) .fab:hover{
    
    color: #0ae779;
    
}



/*** SOBRE ***/


#sobre{
    padding-top: 30px;
    background-color: #25273E;
    max-height: 100%;
    width: 100%;

}

#sobre .container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    
}

.titulo-sobre, .titulo-habilidades, .titulo-certificacoes{
    position: relative;
    text-align: center;

}

#sobre  .line-title, #habilidades .line-title,
#certificacoes .line-title{
    position: absolute;
    text-align: center;
    width: 100px;
    height: 2px;
    background-color: rgb(0, 152, 253);
    left: 50%;
    transform: translateX(-50%);
}

#sobre  .titulo-sobre h2, #habilidades .titulo-habilidades h2,
#certificacoes .titulo-certificacoes h2{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 500;
}

#sobre p{
    font-size: 18px;
    margin-top: 25px;
    text-align: justify;
    margin-bottom: 40px;
}

.conteudo-sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.sobre-image{
    width: 30%;
 
}

.sobre-image img{
    width: 250px;
    height: 350px;
    background-size: 100% 100%;
    background-position: center;
}

.texto-sobre{
    width: 70%;
    text-align: center;
    
}

#sobre a{
    display: block;
    width: 100px;
    margin: 0 auto;
    padding: 10px 10px;
    font-size: 22px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 153, 255, 0.795);
    border: 1px solid #0099ff;
    transition: all 0.25s ease-in-out;
    
}

#sobre a:hover{
    background-color: rgba(14, 212, 120,0.8);
    border: 1px solid rgb(14, 212, 120);
}

/*** HABILIDADES ***/

#habilidades{
    padding-top: 30px;
    background-color: #1F2233;
    max-height: 100%;
    width: 100%;

}


 #habilidades .container{
    max-width: 600px;
    margin: 0 auto;
    padding: 0 2%;
    
}

.habilidade-icone, .certificados-campo{
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.area{
    width: 150px;
    height: 200px;
    background-color: rgba(128, 126, 126, 0.055);
    border: 10px solid #1F2233;
    position: relative;
}

.area h3{
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.area img{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/*** CERTIFICACOES ***/

#certificacoes{
    padding-top: 30px;
    background-color: #25273E;
    max-height: 100%;
    width: 100%;
}


 #certificacoes .container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2%;
    
}

.certificado-single{
    border:10px solid #25273E;
}

.certificado-single img{
    width: 350px;
    height: 175px;
    background-size: 100% 100%;
    
}

.certificado-single:nth-of-type(2) img{
    width: 200px;
    height: 280px;
}




/********FOOTER*********/

footer{
    padding: 20px 2%;
    max-height: 100%;
    background-color: #1F2233;
    height: 40%;

}

footer h2{
    text-transform: uppercase;
}

.endereco{
    float: left;
    width: 50%;
}

.endereco p{
    margin: 10px 0;
}

.endereco i{
    color: #0099ff;
}

.caminho-site{
    float: left;
    width: 50%;
}

.caminho-site a{
    text-decoration: none;
    display: block;
    margin: 10px 0;
    transition: .3s ease-in-out;
}

.caminho-site a:hover{
    color: #0099ff;
}


/*****Sub-footer*****/

.sub-footer{
    height: 50px;
    background-color: #25273E;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
}



/**** RESPONSIVO ****/

@media screen and (max-width: 1000px){

    .info-header{
        flex-direction: column-reverse;
        
      
    }
    
    .descricao-info h1{
        padding-top: 30px;
        font-size: 80px;
        margin-bottom: 20px;
    }
    
    .descricao-info p{
        font-size: 21px;
        padding-bottom: 30px;
    }
    
    
    .descricao-info strong{
        font-weight: normal;
        color: #1F2233;
        background-color: white;
        padding: 0 5px;
    }
    
    .social-contacts{
        display: none;
    }
}

@media screen and (max-width: 900px){
    .sobre-image{
        display: none;
     
    }
    
    .texto-sobre{
        width: 100%;
        
    }
}